@model Reporter_MVC.Models.City

@{
    ViewBag.Title = "حذف";
}

<h2>حذف</h2>

<h3>آیا از حذف این شهر اطمینان دارید؟</h3>
<div>
    <h4>شهر</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            نام شهر
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            کد شهر
        </dt>
        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>

        <dt>
            کد شروع
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fromCode)
        </dd>

        <dt>
            کد پایان
        </dt>
        <dd>
            @Html.DisplayFor(model => model.toCode)
        </dd>

        <dt>
            نام استان
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stateName)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" /> |
            @Html.ActionLink("برگشت به لیست", "Index")
        </div>
    }
</div>