@model Reporter_MVC.Models.City

@{
    ViewBag.Title = "جزئیات";
}

<h2>جزئیات</h2>

<div>
    <h4>شهر</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            نام شهر
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            کد شهر
        </dt>
        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>

        <dt>
            کد شروع
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fromCode)
        </dd>

        <dt>
            کد پایان
        </dt>
        <dd>
            @Html.DisplayFor(model => model.toCode)
        </dd>

        <dt>
            استان
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stateName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("برگشت به لیست", "Index")
</p>