@model Reporter_MVC.Models.GlobalDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GlobalDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.groupCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.groupCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.groupId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.groupId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
