@model Reporter_MVC.Models.Darkhast

@{
    ViewBag.Title = "حذف";
}

<h2>حذف</h2>

<h3>آیا از حذف این درخواست اطمینان دارید؟</h3>
<div>
    <h4>درخواست</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            تاریخ ثبت
        </dt>
        <dd>
            @Html.DisplayFor(model => model.regDate)
        </dd>

        <dt>
            نام
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            نام خانوادگی
        </dt>
        <dd>
            @Html.DisplayFor(model => model.family)
        </dd>

        <dt>
            کد ملی
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NID)
        </dd>

        <dt>
            نوع درخواست
        </dt>
        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            استان
        </dt>
        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            تاریخ بازگشت
        </dt>
        <dd>
            @Html.DisplayFor(model => model.returnDate)
        </dd>

        <dt>
            شماره سریال
        </dt>
        <dd>
            @Html.DisplayFor(model => model.serialNumber)
        </dd>

        <dt>
            تاریخ ارسال پستی
        </dt>
        <dd>
            @Html.DisplayFor(model => model.postSentDate)
        </dd>

        <dt>
            تاریخ بازگشت پستی
        </dt>
        <dd>
            @Html.DisplayFor(model => model.postReturnDate)
        </dd>

        <dt>
            تحویل به متقاضی
        </dt>
        <dd>
            @Html.DisplayFor(model => model.deliveryToApplicant)
        </dd>

        <dt>
            مسئول ارجاع
        </dt>
        <dd>
            @Html.DisplayFor(model => model.referingOffic)
        </dd>

        <dt>
            توضیحات ارسال مجدد
        </dt>
        <dd>
            @Html.DisplayFor(model => model.resendDescription)
        </dd>

        <dt>
            روش ارسال
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sendingType)
        </dd>

        <dt>
            هزینه
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cost)
        </dd>

        <dt>
            هزینه دفتر
        </dt>
        <dd>
            @Html.DisplayFor(model => model.officeCost)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" /> |
            @Html.ActionLink("برگشت به لیست", "Index")
        </div>
    }
</div>