@model IEnumerable<Reporter_MVC.Models.Darkhast>

@{
    ViewBag.Title = "Index";
}

<h2>درخواست ها</h2>

<p>
    @Html.ActionLink("درخواست جدید", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            تاریخ ثبت
        </th>
        <th>
            نام
        </th>
        <th>
            نام خانوادگی
        </th>
        <th>
            کد ملی
        </th>
        <th>
            نوع درخواست
        </th>
        <th>
            استان
        </th>
        <th>
            تاریخ بازگشت
        </th>
        <th>
            شماره سریال
        </th>
        <th>
            تاریخ ارسال پستی
        </th>
        <th>
            تاریخ بازگشت پستی
        </th>
        <th>
            تحویل به متقاضی
        </th>
        <th>
            مسئول ارجاع
        </th>
        <th>
            توضیحات ارسال مجدد
        </th>
        <th>
            روش ارسال
        </th>
        <th>
            هزینه
        </th>
        <th>
            هزینه دفتر
        </th>
        <th>عملیات</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.regDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.family)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.returnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.serialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postSentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deliveryToApplicant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.referingOffic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.resendDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sendingType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.officeCost)
            </td>
            <td>
                @Html.ActionLink("ویرایش", "Edit", new { id = item.Id }) 
                @Html.ActionLink("جزئیات", "Details", new { id = item.Id }) <br>
                @Html.ActionLink("حذف", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>